/.idea
*.iml
*.xml
src/data
src/figures
src/logs/
src/model
src/result
*.pyc
winsechang/XGBoost/data
winsechang/XGBoost/model
winsechang/XGBoost/model_test
winsechang/XGBoost/tmp
winsechang/XGBoost/*.txt
winsechang/XGBoost/pic
winsechang/XGBoost/aaa
winsechang/XGBoost/bbb
